
/*MY CODE BELOW*/

  body {background-color:#facd95}

  a {
      margin:0;
      padding:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }

*{
  margin: 0;
 padding: 0;
}

.container{
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
  height: 700px;
  background-color: #d8f2ec;

  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
header{
  position: top;
  width: 100%;
  min-height: 210px;
  max-height: 210px;
  background-color: #f16b4c;
}
  ul{
    margin-left: 17px;
  }
  ul li{
    list-style: none;
    display: inline-block;
    line-height: 103px;
  }
  ul li a{

    color: #0c6861;
    font-size: 30px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    text-decoration: none;
    padding: 0 16px;
    display: inline-block;

  }
  ul li a:hover {
    color: #f28c20;
  }


  h1{
    color: #f16b4c;
    font-size: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 800;
    margin-left: 30px;
    /*font-style: italic */
  }

  h2{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #f16b4c;
    margin-left: 0px;
    text-align: center;
    min-width: 480px;
    min-height: none;

  }

  h3{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #f16b4c;
  }
  h5{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    /*font-style: italic */
    color: #f16b4c;
    margin-left: 30px;
  }

  p
 {
    text-indent: 0px;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #db4927;
    background-color: #ffdcb8;
    margin-left: 30px;
    margin-right: 800px;
  }

  .Profile
 {
   text-indent: 0px;
   font-size: 16px;
   font-family: 'Source Sans Pro';
   font-weight: 400;
   /*font-style: italic */
   color: #db4927;
   background-color: #ffdcb8;
   margin-left: 370px;
   margin-right: 750px;
  }

    /*ITTECHnologies BUTTONS */

.ittech-links{
  overflow: hidden;
  margin-bottom: 20px;
}

.ittech-links h3{
  font-size: 30px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  /*font-style: italic */
  color: #f16b4c;
  text-align: center;
  padding-top: 28%;
}

.ittech-links .ittech-link{
    float:left;
    width: 240px;
    height: 240px;
    margin: 20px 10px 0px;
    background-color: #FF2D00;
}

  /*TEAMPROFILE PAGE */

  .teamp{
    text-indent: 0px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #db4927;
    background-color: #ffdcb8;
    margin-left: 370px;
    margin-right: 750px;
  }
  .name{
    margin-left: 370px;
  }
  .noindent{text-indent: 0px;}

  .right{
     margin-right: 300px;
     float:right;
  }
  .center
{
  text-align: center;
    color: #0c6861;
    margin-left: 0px;
}

  .caption{
     margin-right: 300px;
     float:right;
     text-indent: 20px;
     font-size: 16px;
     font-family: 'Source Sans Pro';
     font-weight: 400;
     /*font-style: italic */
     color: #1b2336;
     background-color: #D8F2EC;
     margin-left: 30px;

  }
.quote{
  font-size: 15px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  /*font-style: italic */
  color: #1b2336;
  background-color: #D8F2EC;
  margin-left: 100px;
  margin-right: 800px;
}

.wrapper {
    margin: 0 auto;
    width: 1050px;
}
/* img classes*/

.img-logo{
  width: 105px;
  height: 105px;
  margin-right: 0px;
  float:left;
  background-image: url(img/logo.png);
  background-size: 100%;
}
.img-logo:hover{
  background-size: 100%;
  background-image: url(img/logo2.png);
}

.img-logowatermark{
  width: 1200px;
  height: 1200px;
  background-size: 100%;
  background-image: url(img/logo3.png);
  position: fixed;
  z-index: -1;
  opacity: 0.12;
  margin-left: 320px
}
.img-Profile{
  width: 320px;
  margin-left: 30px;
  float:left;
}

.img-mb {
  margin-right: 400px;
  float:right;
  width: 300px;
}
.img-lt {
  margin-left: 30px;
  float:left;
  width: 700px;
}
.img-ct {
  margin-left: 30px;
  float:left;
  width: 700px;
}
.img-LoG {
  width: 700px;
  float:right;
}
.img-g1 {
  width: 750px;
  float:right;
}
.img-g2 {
  width: 750px;
  float:right;
}
#body {
  width: 100%;
  height: 100%;
  }

.img-dish_concept{
  height: 800px;
  width: 596px;
  margin-left: 30px;
  }
