
/*MY CODE BELOW*/

body {
background-color:#facd95;
}

  a {
      margin:0;
      padding:0;
      font-size:100%;
      background:transparent;
  }

*{
  margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
}

.container{
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
  height: 700px;
  background-color: #facd95;
  min-height: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
  /* HEADER STYLING*/   /* HEADER STYLING*/   /* HEADER STYLING*/    /* HEADER STYLING*/   /* HEADER STYLING*/
  /* HEADER STYLING*/   /* HEADER STYLING*/   /* HEADER STYLING*/   /* HEADER STYLING*/   /* HEADER STYLING*/
header{
  position: top;
  width: 100%;
  min-height: 105px;
  max-height: 105px;
  background-color: #f16b4c;
}


  ul{
    margin-left: 10px;
  }
  ul li{
    list-style: none;
    display: block;
    line-height: 110px;

  }
  ul li a{
    color: #0c6861;
    font-size: 1.3vw;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    text-decoration: none;
    display: inline-block;
    width: 10.8%;
  /*  padding: 100px -1%;?? */
  }
  ul li a:hover {
    color: #f28c20;
  }

.headerlinks a{
  margin-left:1.7%;
}

  /* END HEADER STYLING*/  /* END HEADER STYLING*/  /* END HEADER STYLING*/  /* END HEADER STYLING*/
  /* END HEADER STYLING*/  /* END HEADER STYLING*/  /* END HEADER STYLING*/  /* END HEADER STYLING*/

/* FOOTER Classes! *//* FOOTER Classes! *//* FOOTER Classes! *//* FOOTER Classes! *//* FOOTER Classes! */
/* FOOTER Classes! *//* FOOTER Classes! *//* FOOTER Classes! *//* FOOTER Classes! *//* FOOTER Classes! */

.footer{
  width:100vw;
  display:block;
  overflow: hidden;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: #F16B4C;
}
.inner-footer{
  display:block;
  margin: 0 auto;
  width: 1100;
  height: 100%;
}

.inner-footer .logo-container{
float: left;
margin-left: 40px;
height: 100%;
display: block;
width: 23%
}

.inner-footer .logo-container img{
  padding-top: 20px;
width: 47%;
height: auto;
}

.inner-footer .logo-container img:hover{
padding-top: 20px;
width: 47%;
height: auto;
background-size: 100%;
background-image: url(img/logo2.png);
}

.inner-footer .footer-third{
  width: calc(25% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child{
  margin-right:0;
}

.inner-footer .footer-third h1{
  font-size: 20px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  color: #FACD95;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a{
  font-size: 27px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  color: #FACD95;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.inner-footer .footer-third a:hover{
  font-size: 27px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  color: #094C47;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
/* END FOOTER Classes! *//* END FOOTER Classes! *//* END FOOTER Classes! *//* END FOOTER Classes! *//* END FOOTER Classes! *//* END FOOTER Classes! */



  h1{
    color: #f16b4c;
    font-size: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 800;
    margin-left: 30px;
    /*font-style: italic */
  }

  h2{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #f16b4c;
    margin-left: 0px;
    text-align: center;
    min-width: 480px;
    min-height: none;

  }

  h3{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #f16b4c;
  }
  h5{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    /*font-style: italic */
    color: #f16b4c;
    margin-left: 30px;
  }

  p
 {
    text-indent: 0px;
    font-size: 19px;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    /*font-style: italic */
    color: #db4927;
    background-color: #ffdcb8;
    margin-left: 14%;
    margin-right: 33%;
  }



    /*ITTECHnologies BUTTONS */

.ittech-links{
  overflow: hidden;
  margin-bottom: 20px;
}

.ittech-links h3{
  font-size: 30px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  /*font-style: italic */
  color: #0C6861;
  text-align: center;
  padding-top: 315px;
  padding-bottom: 100px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.ittech-links h3:hover{
  font-size: 30px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  /*font-style: italic */
  color: #FACD95;
  text-align: center;
  padding-top: 315px;
  padding-bottom: 100px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.ittech-links .ittech-link{
    float:left;
    width: 240px;
    height: 240px;
    margin: 20px 10px 0px;
    background-color: #F16B4C;
}
.ittech-links .ittech-link:hover{
    float:left;
    width: 240px;
    height: 240px;
    margin: 20px 10px 0px;
    background-color: #0C6861;
}


  /*TEAMPROFILE PAGE */  /*TEAMPROFILE PAGE */  /*TEAMPROFILE PAGE */  /*TEAMPROFILE PAGE */  /*TEAMPROFILE PAGE */  /*TEAMPROFILE PAGE */
/*TEAMPROFILE PAGE */ /*TEAMPROFILE PAGE */ /*TEAMPROFILE PAGE */ /*TEAMPROFILE PAGE */ /*TEAMPROFILE PAGE */ /*TEAMPROFILE PAGE */
  .profile
  {

  }

.testslinkcontainer{
  position: fixed;
  width: 10%;
  height: auto;
}
  .profile p
 {
   text-indent: 0px;
   font-size: 16px;
   font-family: 'Source Sans Pro';
   font-weight: 400;
   /*font-style: italic */
   color: #db4927;
   background-color: #ffdcb8;
   margin-left: 370px;
  /* margin-right: 750px;*/
  }

  .profile h2
 {
   font-size: 30px;
   font-family: 'Source Sans Pro';
   font-weight: 400;
   /*font-style: italic */
   color: #f16b4c;
   margin-left: 370px;
   text-align: left;
   min-width: 480px;
   min-height: none;
  }

  .profile .profileblock{
display:inline-block;
    width: 100%;
    height: auto;
  }


  .teamp
  {
    text-indent: 0px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #db4927;
    background-color: #ffdcb8;
    margin-left: 370px;
    margin-right: 750px;
  }
  .name{
    margin-left: 370px;
  }
  .noindent{text-indent: 0px;}

  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/
    /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/  /*TEAMPROFILE PAGE END*/
  .right{
     margin-right: 300px;
     float:right;
  }
  .center
{
  text-align: center;
    color: #0c6861;
    margin-left: 0px;
}

  .imgcaptionright{
     margin-right: 300px;
     float:right;
     text-indent: 20px;
     font-size: 16px;
     font-family: 'Source Sans Pro';
     font-weight: 400;
     /*font-style: italic */
     color: #1b2336;
     background-color: #D8F2EC;
     margin-left: 30px;
  }

  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/
  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/  /*REFERENCES PAGE*/
  .references p{
    text-indent: 0px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    /*font-style: italic */
    color: #db4927;
    background-color: #ffdcb8;
    margin-left: 30px;
    margin-right: 30px;
  }
  .references h2{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #f16b4c;
    margin-left: 30px;
    text-align: left;
    min-width: 480px;
    min-height: none;

  }
.quote{
  font-size: 15px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  /*font-style: italic */
  color: #1b2336;
  background-color: #D8F2EC;
  margin-left: 100px;
  margin-right: 800px;
}

.wrapper {
    margin: 0 auto;
    width: 1050px;
}
/* img classes*/

.img-logo{
  width: 105px;
  height: 105px;
  margin-right: 0px;
  float:left;
  background-image: url(img/logo.png);
  background-size: 100%;
}
.img-logo:hover{
  background-size: 100%;
  background-image: url(img/logo2.png);
}

.img-logowatermark{
  width: 1200px;
  height: 1200px;
  background-size: 100%;
  background-image: url(img/logo3.png);
  position: fixed;
  z-index: -1;
  opacity: 0.12;
  margin-left: 320px
}
.img-Profile{
  width: 320px;
  margin-left: 30px;
  float:left;
}

.img-mb {
  margin-right: 400px;
  float:right;
  width: 300px;
}
.img-lt {
  margin-left: 30px;
  float:left;
  width: 700px;
}
.img-ct {
  margin-left: 30px;
  float:left;
  width: 700px;
}
.img-LoG {
  width: 700px;
  float:right;
}
.img-g1 {
  width: 750px;
  float:right;
}
.img-g2 {
  width: 750px;
  float:right;
}
#body {
  width: 100%;
  height: 100%;
  }

.img-dish_concept{
  height: 800px;
  width: 596px;
  margin-left: 30px;
  }
